body {
    font-family: Arial;
    background-color: lightgray;
}

h1 {
    color: black;
    text-align: center;
}

label {
    color: black;
    text-align: center;
}

.dashboardButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    width: 2em;
    margin-left: 3em;
    margin-top: 3em;
}

.detailsToEnter {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.button {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background: #008CBA;
    padding: 25px; 
    margin: 20px;
    width: 200px;
    height: 100px;
    font-weight: bold;
}

.descriptionInputBox {
    width: 300px;
    height: 400px;
}

#registerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button1 {background-color: #008CBA;} /* Blue */
.button2 {background-color: #008CBA;} /* Blue */
